<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<div th:replace="fragments :: page-header"></div>


<body class="container body-content">
<br><br>
<form method="post" >
    <div>
        <label>Name
            <input class="control" th:field="${createBookCollectionDTO.name}" />
        </label>
        <p class="error" th:errors="${createBookCollectionDTO.name}"></p>
    </div>

    <div>
        <label>Description
            <input class="control" th:field="${createBookCollectionDTO.description}">
        </label>
        <p class="error" th:errors="${createBookCollectionDTO.description}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="CreateBookCollection"/>

</form>

</body>