<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<div th:replace="fragments :: page-header"></div>


<body class="container body-content">
<br><br>
<form method="post">
    <div>
    <label>Name
    <input class="control" th:field="${createMovieCollectionDTO.name}" />
    </label>
    <p class="error" th:errors="${createMovieCollectionDTO.name}"></p>
</div>

    <div>
    <label>Description
    <input class="control" th:field="${createMovieCollectionDTO.description}">
    </label>
    <p class="error" th:errors="${createMovieCollectionDTO.description}"></p>
    </div>

 <input type="submit" class="btn btn-primary" value="CreateMovieCollection" />


</form>

</body>
</html>