<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Create Book Collection</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

</head>


<body>
<form method="post" >
    <div>
        <label>Name
            <input class="control" th:field="${createBookCollectionDTO.name}" />
        </label>
        <p class="error" th:errors="${createBookCollectionDTO.name}"></p>
    </div>

    <div>
        <label>Description
            <input class="control" th:field="${createBookCollectionDTO.description}">
        </label>
        <p class="error" th:errors="${createBookCollectionDTO.description}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Create Book Collection"/>

</form>
</body>