<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<div th:replace="fragments :: page-header"></div>


<body class="container body-content">
<br><br>

<form method="post">
    <div>
        <label>Name This Book Collection:
            <p><input class="control" th:field="${createBookCollectionDTO.name}" /></p>
        </label>
        <p class="error" th:errors="${createBookCollectionDTO.name}"></p>
    </div>

    <div>
        <label>Description:</label>
        <p>
            Create a description that will draw the interest of other users.
        </p>

        <p>
            <textarea name="textarea" style="width:250px;height:150px;" th:field="${createBookCollectionDTO.description}"></textarea>
        </p>
        <p class="error" th:errors="${createBookCollectionDTO.description}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Create Book Collection"/>

</form>

</body>