<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${collection.name}">Title</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{../../../CSS/collections-delete.css}">
    <script type="text/javascript" th:src="@{../../../javascript/collections-delete.js}"></script>
</head>

<div th:replace="fragments :: page-header"></div>


<body class="container body-content">
<br><br><br><br>

<a href="/collections/delete">Back</a>
<h1 th:text="'Game Collection: ' + ${collection.name}"></h1>

<form method="post" th:action="@{/collections/delete/games/{collectionId}(collectionId=${collectionId})}">
    <table class="table table-striped" id="gameTable">
        <thead>
            <tr>
                <th class="text-center">Delete</th>
                <th onclick="sortTable(1, 'gameTable')" class="titleHeader">Title</th>
                <th onclick="sortTable(2, 'gameTable')" class="creatorHeader">Creator</th>
                <th onclick="sortTable(3, 'gameTable')" class="genreHeader">Genre</th>
                <th onclick="sortTable(4, 'gameTable')" class="minPlayersHeader">Min. Players</th>
                <th onclick="sortTable(5, 'gameTable')" class="maxPlayersHeader">Max. Players</th>
            </tr>
        </thead>
        <tr th:each="game : ${games}">
            <td class="text-center">
                <input type="checkbox" name="gameIds" th:value="${game.id}">
            </td>
            <td>
                <a th:href="@{/games/details/{gameTitle}(gameTitle=${game.title})}"><p th:text="${game.title}"></p></a>
            </td>
            <td>
                <span th:text="${game.creator}"></span>
            </td>
            <td>
                <span th:text="${game.genre}"></span>
            </td>
            <td>
                <span th:text="${game.minPlayers}"></span>
            </td>
            <td>
                <span th:text="${game.maxPlayers}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-center"><input type="submit" value="Delete" class="btn btn-danger"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table><hr>
</form>

</body>
</html>