<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<title th:text="${collection.name}">Title</title>
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>
<body class="container body-content">
<br><br><br><br>

<a href="/collections/delete">Back</a>
<h1 th:text="'Movie Collection: ' + ${collection.name}"></h1>

<form method="post" th:action="@{/collections/delete/movies/{collectionId}(collectionId=${collectionId})}">
    <table class="table table-striped" id="movieTable">
        <thead>
            <tr>
                <th class="text-center">Delete</th>
                <th onclick="sortTable(1, 'movieTable')" class="titleHeader">Title</th>
                <th onclick="sortTable(2, 'movieTable')" class="yearHeader">Year</th>
                <th onclick="sortTable(3, 'movieTable')" class="directorHeader">Director</th>
                <th onclick="sortTable(4, 'movieTable')" class="primaryGenreHeader">Primary Genre</th>
                <th onclick="sortTable(5, 'movieTable')" class="secondaryGenreHeader">Secondary Genre</th>
            </tr>
        </thead>
            <tr th:each="movie : ${movies}">
                <td class="text-center">
                    <input type="checkbox" name="movieIds" th:value="${movie.id}">
                </td>
                <td>
                    <a th:href="@{/movies/details/{movieTitle}(movieTitle=${movie.title})}"><p th:text="${movie.title}"></p></a>
                </td>
                <td>
                    <span th:text="${movie.year}"></span>
                </td>
                <td>
                    <span th:text="${movie.director}"></span>
                </td>
                <td>
                    <span th:text="${movie.genre}"></span>
                </td>
                <td>
                    <span th:text="${movie.genre2}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center"><input type="submit" value="Delete" class="btn btn-danger"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table><hr>
</form>

</body>
</html>