<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>

<body class="container body-content view-movie-collection">

<h1 class="text-center" th:text="${movieCollection.name}"></h1>
<h4 class="text-center">
    <span th:text="'This Movie Collection Belongs To: '"></span><a th:href="@{'/collector/' + ${movieCollection.getUser().getId()}}" th:text="${movieCollection.getUser().getScreenName()}"></a>
</h4>
<br>

<div th:if="${movieCollection.movies.size > 2}">
    <swiper-container class="mySwiper" navigation="true" slides-per-view="3" space-between="10" free-mode="true" style="height:50%">
        <swiper-slide th:each="movie : ${movieCollection.movies}">
            <img th:src="${movie.imageURL}" height="50%">
        </swiper-slide>
    </swiper-container>
</div>


<div th:if="${movieCollection.description != ''}" class="container" style="width: 40rem;">
    <H4 class="text-center" th:text="Description"></H4>
    <i>
        <h5 class="card text-center" th:text="${movieCollection.description}"></h5>
    </i>
</div>

<div th:else>
    <br>
    <br>
</div>

<table class="table" id="table">
    <thead>
        <tr>
            <th class="col-lg-2 text-center" id="movieTitleHeader">Movie</th>
            <th class="col-lg-2 text-center" id="movieYearHeader">Year</th>
            <th class="col-lg-2 text-center" id="movieDirectorHeader">Director</th>
            <th class="col-lg-2 text-center" id="movieGenreHeader">Genre(s)</th>
            <th class="col-lg-2 text-center" id="movieImageHeader">Image</th>
        </tr>
    </thead>
    <span th:each="movie : ${movieCollection.movies}">
        <tr>
            <td  class="text-center">
                <span th:text="${movie.title}"></span>
            </td>
            <td  class="text-center">
                <span th:text="${movie.year}"></span>
            </td>
            <td class="text-center">
                <span th:text="${movie.director}"></span>
            </td>
            <td class="text-center">
                <span th:text="${movie.genre}"></span> <br/>
                <span th:text="${movie.genre2}"></span><br/>
                <span th:text="${movie.genre3}"></span>
            </td>
            <td class="text-center">
                <img height="150px" th:src="${movie.imageURL}" alt="movie image">
            </td>
        </tr>
        <tr id="movieSidenote">
            <td class="text-center" colspan="5">
                <form method="post">
                    <input type="text" name="moviesId" th:value="${movie.id}" th:attr="value=${movie.id}" hidden>
                    <input type="text" name="movieCollectionId" th:value="${movieCollection.id}" th:attr="value=${movieCollection.id}" hidden>
                    <input type="text" name="movieSideNote" th:value="${movieCollection.id}" th:attr="value=${movieCollection.id}">
                    <input type="submit" value="Add SideNote">
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="5">
                <p th:text="${movie.id}"></p>
                <p th:text="${movieCollection.id}"></p>
                <p th:text="${movie.title}"></p>
                <p th:text="${allMovieSideNotes}"></p>
            </td>
        </tr>
    </span>
</table>

</body>

</html>


