<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<div th:replace="fragments :: page-header"></div>

<body class="container body-content">

<h1 class="font-weight-bolder" th:text="'Collection Name: ' +${movieCollection.name}"></h1>
<H4 th:text="'Collection Description: ' + ${movieCollection.description}"></H4>
<H2 th:text="'Collector Name: ' +${movieCollection.getUser().getScreenName()}"></H2>


<ul th:each="movie : ${movieCollection.movies}">


    <table class="table table-striped" id="table">
        <thead>
        <tr>
            <th id="movieTitleHeader">Movie</th>
            <th id="movieYearHeader">Year</th>
            <th id="movieDirectorHeader">Director</th>
            <th id="movieGenreHeader">Genre(s)</th>
            <th id="movieImageHeader">Image</th>
        </tr>
        </thead>
        <tr>
            <td  class="text-center">
                <span th:text="${movie.title}"></span>
            </td>
            <td  class="text-center">
                <span th:text="${movie.year}"></span>
            </td>
            <td class="text-center">
                <span th:text="${movie.director}"></span>
            </td>
            <td class="text-center">
                <span th:text="${movie.genre}"></span> <br/>
                <span th:text="${movie.genre2}"></span><br/>
                <span th:text="${movie.genre3}"></span>
            </td>
            <td class="text-center">
                <img height="150px" th:src="${movie.imageURL}" alt="movie image">
            </td>
        </tr>
    </table><hr>

</ul>
</body>
</html>
