<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${bookTitle}"></title>
</head>
<body>

<h1 th:href="@{'/books/details/'}" th:text="${bookTitle}" id="bookTitle"></h1>

<div id="bookInfo"></div>

<h3>In The Collection Of:</h3>
<th-block th:each="book : ${books}">
    <ol th:if="${book.title} == ${bookTitle}">
        <h3 th:text="${book.userID}"></h3>
    </ol>
</th-block>

</body>
</html>


<script>
window.onload = function() {

    bookTitle = document.getElementById("bookTitle").innerHTML;
    console.log(bookTitle);

    let urlBeginning = "https://www.googleapis.com/books/v1/volumes?q=";
    let searchTerm;
    let urlEnding = "&key=AIzaSyA_fNlN4nm1Dkba-D2XE1smV04vA5_42zY";

    searchTerm = bookTitle;

    let url = urlBeginning + searchTerm + urlEnding;


    fetch(url).then(function(response) {
        response.json().then( function(json) {
            console.log(json.items);

            const div = document.getElementById("bookInfo");
            div.innerHTML = `
            <h3>Author(s): ${json.items[0].volumeInfo.authors}</h3>
            <h4>Synopsis: ${json.items[0].volumeInfo.description}</h4>
            <img src=${json.items[0].volumeInfo.imageLinks.thumbnail}>
            <h3>Published By: ${json.items[0].volumeInfo.publisher}, ${json.items[0].volumeInfo.publishedDate}</h3>
            `
            shoplink = document.createElement('a');
                shoplink.innerHTML = 'Shop Now';
                shoplink.setAttribute('title', 'Shop Now');
                shoplink.setAttribute('href', json.items[0].saleInfo.buyLink);
                document.body.appendChild(shoplink);

        })
    });
};
</script>