<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>
<script type="text/javascript" th:src="@{/javascript/book-details.js}"></script>
<body class="container body-content book-details">

<p id="bookTitle" th:href="@{'/books/details/'}" th:text="${bookTitle}" hidden></p>
<p id="bookAuthor" th:text="${foundBookAuthor}" hidden></p>
<p id="bookYear" th:text="${foundBookYear}" hidden></p>

<div id="bookInfo"></div>

<a id="shopNowLink">
    <img id="shopNowImg" th:src="@{/images/google-play-store.png}" hidden>
</a>

<h3>Collections With This Book:</h3>

<th:block th:if="${#lists.size(collectionsWithThisBook) > 0}">
    <ol>
        <span th:each="collection: ${collectionsWithThisBook}">
            <li>
                <a th:href="@{'/collections/view-book-collection/' + ${collection.id}}" th:text="${collection.name}"></a>
                <span th:text="'Created by: '"></span>
                <a th:href="@{'/profile/' + ${collection.getUser().getUsername()}}" th:text="${collection.getUser().getUsername()}"></a>
            </li>
        </span>
    </ol>
</th:block>

<th:block th:unless="${#lists.size(collectionsWithThisBook) > 0}">
    <i>No collections found with this book. Be the first!</i>
</th:block>

</body>

</html>