<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Books - Search</title>
  <script type="text/javascript" th:src="@{../javascript/books-search.js}"></script>
  <link rel="stylesheet" th:href="@{../CSS/books-search.css}">
</head>

<body>

<form>
  <input type="text" id="textbox">
  <select id="searchTypeDropdown">
    <option value="title">Title</option>
    <option value="author">Author</option>
  </select>
  <button type="button" id="searchTermAndType">Submit</button>
</form>

<button id="showFiltersButton" style="display:none" onclick="toggleShowHideFilters(); generateAuthorCheckboxHTML(); generateGenreCheckboxHTML()">Show Filters</button><br>

<div id="filtersSection" style="display:none;">
  <button id="newSearchButton"><a href="http://localhost:8080/books/search">New Search</a></button>
<form id="yearFilters" >
  <h3>Year Range:</h3>
  <input type="number" id="userYearMin">
  <input type="number" id="userYearMax">
  </form>
<button id="filterYearsButton" onclick="filterYears(userYearMin, userYearMax); generateAuthorCheckboxHTML(); generateGenreCheckboxHTML(); ">Filter Years</button>

<form id="authorFilters">
  <h3>Author:</h3>
  <div id="authorCheckboxes"></div>
</form>
<button id="filterAuthorsButton" onclick="showOrHideRowsBasedOnAuthorCheckboxFilters(); generateGenreCheckboxHTML()">Filter Authors</button>

<form id="genreFilters">
  <h3>Genre:</h3>
  <div id="genreCheckboxes"></div>
</form>
<button id="filterGenresButton" onclick="showOrHideRowsBasedOnGenreCheckboxFilters(); generateAuthorCheckboxHTML()">Filter Genres</button>
</div>


<script>
 const searchTermAndType = document.getElementById('searchTermAndType');
const searchTypeDropdown = document.getElementById('searchTypeDropdown');

searchTermAndType.addEventListener('click', function() {
  // Get the selected value from the dropdown
  const searchTerm = searchTypeDropdown.value;

  // Run a different function depending on the selected value
  if (searchTerm === 'title') {
        searchTitle(textbox);
  } else if (searchTerm === 'author') {
        searchAuthor(textbox);
  }

});
</script>


<form method="post" id="databaseInformation" hidden>
  <input th:field="${book.title}" id="titleSubmission" >
  <input th:field="${book.dateAdded}" id="dateSubmission" >
  <input th:field="${book.genre}" id="genreSubmission" >
  <input th:field="${book.author}" id="authorSubmission" >
  <input th:field="${book.year}" id="yearSubmission" >
  <input th:field="${book.synopsis}" id="synopsisSubmission" >
</form>

  <div id="resultsTable"></div>

</body>

</html>