body {
    background-color: black;
    color: white;
}

p {
  margin-bottom: 0 !important;
}

#userCollectionDropdown {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}

#authorCheckboxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
}

#genreCheckboxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
}

#posterColumnHeader {
    width: 15%;
}

.posterCell {
    width: 15%
}

.poster {
    width:131.89 px;
}

#titleColumnHeader {
    width: 15%;
    cursor: pointer;
}

.titleCell {
    width: 15%;
}

#authorColumnHeader {
    width: 10%;
    cursor: pointer;
}

.authorCell {
    width: 10%;
}

#yearColumnHeader {
    width: 5%;
    cursor: pointer;
}

.yearCell {
    width: 5%;
}

#genreColumnHeader {
    width: 15%;
    cursor: pointer;
}

.genreCell {
    width: 15%;
}

#synopsisColumnHeader {
    width: 40%;
}

.synopsisCell {
    width: 40%
}


.synopsisText {
    max-height: 150px;
    overflow-y: scroll;
}

.hidden {
    display: none;
}




