#collectionNameHeader {
    cursor: pointer;
}

#collectionDescriptionHeader {
    cursor: pointer;
}

#titleHeader {
    cursor: pointer;
}

#yearHeader {
    cursor: pointer;
}

#directorHeader {
    cursor: pointer;
}

#primaryGenreHeader {
    cursor: pointer;
}

#secondaryGenreHeader {
    cursor: pointer;
}