.collectionNameHeader {
    cursor: pointer;
    width: 45%;
}

.collectionDescriptionHeader {
    cursor: pointer;
    width: 45%;
}

.deleteColumn {
    width: 10%;
}

#titleHeader {
    cursor: pointer;
}

#yearHeader {
    cursor: pointer;
}

#directorHeader {
    cursor: pointer;
}

#primaryGenreHeader {
    cursor: pointer;
}

#secondaryGenreHeader {
    cursor: pointer;
}