p {
    margin-bottom: 0 !important;
    text-align: center !important;
}

.booksResultsHeaderRow {
    border: 2px solid black !important;
    background-color: #e4e4e4 !important;
}

.booksResultsTableRows {
    border: 1px solid black !important;
    background-color: #e4e4e4 !important;
}

#posterColumnHeader {
    width: 15%;
    padding: 10px;
    text-align: center;
}

.posterCell {
    width: 15%;
    padding: 10px;
}

#titleColumnHeader {
    width: 20%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.titleCell {
    width: 20%;
    text-align: center;
}

#yearColumnHeader {
    width: 5%;
    cursor: pointer;
    text-align: center;
}

.yearCell {
    width: 5%;
    text-align: center;
}

#genre1ColumnHeader {
    width: 15%;
    cursor: pointer;
    text-align: center;
}

.genre1Cell {
    width: 15%;
    text-align: center;
}

#synopsisColumnHeader {
    width: 40%;
    text-align: center;
}

.synopsisCell {
    width: 40%;
    text-align: center;
}

#addToCollectionHeader {
    width: 15%;
}

.streamingPlatformsCell {
    width: 15%;
    padding: 10px;
}

.hidden {
    display: none;
}

.poster {
    width:131.84px
}

