<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode(); document.getElementById('tmdbId').innerHTML = json.results[0].id</script>

<body class="container body-content movie-details">

<h1 th:text="${movieTitle}" id="movieTitle" hidden></h1>
<p id="movieYear"style="display:none" th:text="${foundMovieYear}"></p>
<p id="collectorName" style="display:none" th:text="${collectorName}"></p>

<div id="movieInfo"></div>

<h3>Collections With This Movie:</h3>
<ol >
    <span th:each="collection: ${collectionsWithThisMovie}">
        <li>
            <a th:href="@{'/collections/view-movie-collection/' + ${collection.id}}" th:text="${collection.name}"></a> <span th:text="'Created by: '"></span> <a th:href="@{'/collector/' + ${collection.getUser().getId()}}" th:text="${collection.getUser().getScreenName()}"></a>
        </li>

    </span>
</ol>

</body>
</html>


<script>
window.onload = function() {

    movieTitle = document.getElementById("movieTitle").innerHTML;
    movieYear = document.getElementById("movieYear").innerHTML;

    let urlBeginning = "https://api.themoviedb.org/3/search/movie?api_key=16012a33d67f443093071edcbcdfc9d0&query=";
    let searchTerm = movieTitle + "&primary_release_year=" + movieYear;

    let url = urlBeginning + searchTerm;
    let posterURLBeginning = "https://image.tmdb.org/t/p/w500";
    let posterURLEnding;
    let posterURL;

    fetch(url).then(function(response) {
        response.json().then( function(json) {
            console.log(json.results);

            posterURLEnding = json.results[0].poster_path;
            posterURL = posterURLBeginning + posterURLEnding;

            const div = document.getElementById("movieInfo");
            div.innerHTML = `
            <div class="container">
                <div class="left-column">
                    <img src=${posterURL} width=400px>
                </div>
                <div class="right-column">
                    <h1 id="movieInfoTitle">${json.results[0].title}</h1>
                    <h3>${json.results[0].release_date.slice(0,4)}</h3>
                    <div class="imageWrapper">
                        <img src="/images/tmdb.jpg" width="50px">
                        <p id="tmdbRating">⭐${json.results[0].vote_average.toFixed(1)} / 10</p>
                    </div>
                    <h4>${json.results[0].overview}</h4>
                    <p id="tmdbId">${json.results[0].id}</p>
                    <button onclick="showTrailer()">Trailer</button>
                    <button onclick="getSimilarMovies()">Similar Movies</button>
                    <div id="content"></div>
                </div>
            </div>
            `
        })
    });
};
</script>


<script>
    function showTrailer() {
        const tmdbId = document.getElementById('tmdbId').innerHTML;
        const url = "http://api.themoviedb.org/3/movie/" + tmdbId + "/videos?api_key=16012a33d67f443093071edcbcdfc9d0"

        fetch(url).then(function(response) {
        response.json().then( function(json) {
            let youtubeId = json.results[0].key;
            let youtubeEmbedStart = `<iframe width="560" height="315" src="https://www.youtube.com/embed/`
            let youtubeEmbedEnd = `" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`
            document.getElementById('content').innerHTML = youtubeEmbedStart + youtubeId + youtubeEmbedEnd;
        })
        });
    }
</script>
<script></script>
<script>
    function getSimilarMovies() {
        const tmdbId = document.getElementById('tmdbId').innerHTML;
        const url = "https://api.themoviedb.org/3/movie/" + tmdbId + "/similar?api_key=16012a33d67f443093071edcbcdfc9d0&language=en-"

        fetch(url).then(function(response) {
        response.json().then( function(json) {
            console.log(json.results);
        })
        });
    }
</script>