<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments :: head">
    </head>
<body>


<div th:replace="fragments :: page-header"></div>
<div class="container body-content">

<h1 th:text="${movieTitle}" id="movieTitle"></h1>
    <p id="movieYear", style="display:none"
        th:text="${foundMovieYear}">
    </p>
    <p id="collectorName", style="display:none"
       th:text="${collectorName}">
    </p>


<div id="movieInfo"></div>


<h3>Collections With This Movie:</h3>
<ol >
    <span th:each="collection: ${collectionsWithThisMovie}">
        <li>
        <a th:href="@{'collection/view/' + ${collection.id}}" th:text="${collection.name + '  Created by: ' + collection.getUser().getUsername()}"></a>
        </li>

    </span>
</ol>
</div>

</body>
</html>


<script>
window.onload = function() {

    movieTitle = document.getElementById("movieTitle").innerHTML;
    movieYear = document.getElementById("movieYear").innerHTML;
    console.log(movieTitle);

    let urlBeginning = "https://api.themoviedb.org/3/search/movie?api_key=16012a33d67f443093071edcbcdfc9d0&query=";
    let searchTerm;

    searchTerm = movieTitle + "&primary_release_year=" + movieYear;

    let url = urlBeginning + searchTerm;
    let posterURLBeginning = "https://image.tmdb.org/t/p/w500";
    let posterURLEnding;
    let posterURL;

    fetch(url).then(function(response) {
        response.json().then( function(json) {
            console.log(json.results);

            posterURLEnding = json.results[0].poster_path;
            posterURL = posterURLBeginning + posterURLEnding;

            const div = document.getElementById("movieInfo");
            div.innerHTML = `
            <h3>Release Date: ${json.results[0].release_date}</h3>
            <h3>Synopsis: ${json.results[0].overview}</h3>
            <img src=${posterURL}>
            `

        })
    });
};
</script>