<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Collectors Corner Feed</title>
</head>
<body>

<h1>All Movies</h1>
<th-block th:each="movie : ${movies}">
        <li style="display: flex;">
            <p>User</p>&nbsp;
            <p th:text="${movie.userID}"></p>&nbsp;
            <p>added</p>&nbsp;
            <p><a th:href="@{'/movies/details/' + ${movie.title}}" th:text="${movie.title}"></a></p>&nbsp;
            <p>to their collection</p>
        </li>
</th-block>


<h1>Fantasy Movies</h1>
<th-block th:each="movie : ${movies}">
    <span th:if="${movie.genre} == 'Fantasy' or ${movie.genre2} == 'Fantasy' or ${movie.genre3} == 'Fantasy'">
        <li style="display: flex;">
            <p>User</p>&nbsp;
            <p th:text="${movie.userID}"></p>&nbsp;
            <p>added</p>&nbsp;
            <p><a th:href="@{'/movies/details/' + ${movie.title}}" th:text="${movie.title}"></a></p>&nbsp;
            <p>to their collection</p>
        </li>
    </span>
</th-block>


<h1>Reviews by User 0</h1>
<th-block th:each="movie : ${movies}">
    <ul th:if="${movie.userID} == '0'">
        <li>
            <a th:href="@{'/movies/details/' + ${movie.title}}" th:text="${movie.title}"></a>
        </li>
    </ul>
</th-block>


</body>
</html>