<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{../CSS/movies-list.css}">
    <script type="text/javascript" th:src="@{../javascript/movies-list.js}"></script>
    <title>Collectors Corner</title>
</head>

<body>

<h3>Most Popular Movies Now:</h3>
<button onclick="fetchAction()">Action</button>
<button onclick="fetchAdventure()">Adventure</button>
<button onclick="fetchAnimation()">Animation</button>
<button onclick="fetchComedy()">Comedy</button>
<button onclick="fetchScifi()">Sci-Fi</button>
<br>
<h3>Most Popular Movies of:</h3>
<button onclick="fetchMostPopular2012()">2012</button>
<button onclick="fetchMostPopular2013()">2013</button>
<button onclick="fetchMostPopular2014()">2014</button>
<hr>

<div id="resultsTable"></div>

<!--We can add the "hidden" attribute to the input tags below for a more pleasant appearance. Keeping
    them visible may be helpful while coding and testing, though-->

<!--Property userID below will be the ID/username the user is logged in as once we get authentication up and running-->
<form method="post">
    <input th:field="${movie.title}" id="titleSubmission" >
    <input th:field="${movie.genre}" id="genreSubmission" >
    <input th:field="${movie.genre2}" id="genre2Submission" >
    <input th:field="${movie.genre3}" id="genre3Submission" >
    <input th:field="${movie.director}" id="directorSubmission" >
    <input th:field="${movie.year}" id="yearSubmission" >
    <input th:field="${movie.synopsis}" id="synopsisSubmission" >
    <input th:field="${movie.userID}" id="userIDSubmission" >
    <center><button type="submit">Add to Collection</button></center>
</form>

</body>
</html>