<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movies - Search</title>
    <script type="text/javascript" th:src="@{../javascript/movies-search.js}"></script>
    <link rel="stylesheet" th:href="@{../CSS/movies-search.css}">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/javascript/bootstrap.js}"></script>-->
</head>

<div th:replace="~{fragments :: page-header}"></div>

<body class="container body-content">
<br><br><br>
<h1>Movie Search</h1>

<input id="userSearchTerm" type="text" onkeyup="if (event.keyCode === 13) { searchTitle(userSearchTerm); }">
<button value="userSearchTerm" onclick="searchTitle(userSearchTerm)">Search</button><hr>

<h3 id="collectionNameDropdownLabel"> Your Movie Collections:</h3><br>
<form>
    <select id="collectionNamesDropdown">
        <option value="">Select a collection</option>
        <th:block th:each="collection : ${movieCollections}">
        <span th:if="${collection.user.id == cookie}">
            <option th:text="${collection.name}" th:value="${collection.id}"></option>
            <!--            <option th:text="${iterableUsers[0].username}" th:value="${iterableUsers[0].username}" ></option>-->
            <!--            <option th:text="${collection.user}" th:value="${collection.user}" ></option>-->
                    </span>
        </th:block>
    </select>
</form><hr>

<div id="resultsTable"></div>

<p th:text="${collectionIdsAndMovies}" id="collectionIdsAndMovies" hidden></p>

<form method="post" id="databaseInformation" hidden>
    <input th:field="${movie.title}" id="titleSubmission" readonly>
    <input th:field="${movie.dateAdded}" id="dateSubmission" readonly>
    <input th:field="${movie.genre}" id="genreSubmission" readonly>
    <input th:field="${movie.genre2}" id="genre2Submission" readonly>
    <input th:field="${movie.genre3}" id="genre3Submission" readonly>
    <input th:field="${movie.director}" id="directorSubmission" readonly>
    <input th:field="${movie.year}" id="yearSubmission" readonly>
    <input th:field="${movie.synopsis}" id="synopsisSubmission" readonly>
    <input th:field="${movie.imageURL}" id="imageURLSubmission" readonly>
    <input type="text" name="collectionId" id="collectionId" readonly>
</form>

</body>

</html>