<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script type="text/javascript" th:src="@{/javascript/movies-search.js}"></script>
<body class="container body-content movies-search">

<div th:replace="fragments :: movies-navbar"></div>

<img id="theaterPhoto" src="http://localhost:8080/images/movieCollection.jpg" alt="book">

<h1>Movie Search</h1>

<input id="userSearchTerm" class="button" onkeyup="if(event.keyCode === 13){searchMovieTitle(userSearchTerm)}">
<button value="userSearchTerm" onclick="searchMovieTitle(userSearchTerm)" class="button">Search</button><br><br>

<div id="resultsTable"></div>

<p th:text="${collectionIdsAndMovies}" id="collectionIdsAndMovies" hidden></p>

<form method="post" id="databaseInformation" hidden>
    <input th:field="${movie.title}" id="titleSubmission" readonly>
    <input th:field="${movie.dateAdded}" id="dateSubmission" readonly>
    <input th:field="${movie.genre}" id="genreSubmission" readonly>
    <input th:field="${movie.genre2}" id="genre2Submission" readonly>
    <input th:field="${movie.genre3}" id="genre3Submission" readonly>
    <input th:field="${movie.director}" id="directorSubmission" readonly>
    <input th:field="${movie.year}" id="yearSubmission" readonly>
    <input th:field="${movie.synopsis}" id="synopsisSubmission" readonly>
    <input th:field="${movie.imageURL}" id="imageURLSubmission" readonly>
    <input name="collectionId" id="collectionId" readonly>
</form>

</body>

</html>