<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movies - Search</title>
    <script type="text/javascript" th:src="@{../javascript/movies-search.js}"></script>
    <link rel="stylesheet" th:href="@{../CSS/movies-search.css}">
</head>

<body>

<label for="userSearchTerm">Title</label><br>
<input id="userSearchTerm" type="search"><br>

<button value="userSearchTerm" onclick="searchTitle(userSearchTerm)">Search</button><br>

<form method="post" id="databaseInformation" >
    <input th:field="${movie.title}" id="titleSubmission" >
    <input th:field="${movie.dateAdded}" id="dateSubmission" >
    <input th:field="${movie.genre}" id="genreSubmission" >
    <input th:field="${movie.genre2}" id="genre2Submission" >
    <input th:field="${movie.genre3}" id="genre3Submission" >
    <input th:field="${movie.director}" id="directorSubmission" >
    <input th:field="${movie.year}" id="yearSubmission" >
    <input th:field="${movie.synopsis}" id="synopsisSubmission" >
    <input type="text" name="collectionId" id="collectionId">
</form>

<label>User Collection:</label><br>
<form>
    <select id="collectionNamesDropdown">
        <option value="">Select a collection</option>
        <th:block th:each="collection : ${movieCollections}">
        <span th:if="${collection.user.id == cookie}">
            <option th:text="${collection.name}" th:value="${collection.id}"></option>
<!--            <option th:text="${iterableUsers[0].username}" th:value="${iterableUsers[0].username}" ></option>-->
<!--            <option th:text="${collection.user}" th:value="${collection.user}" ></option>-->
                    </span>
        </th:block>
    </select>
</form>

<div id="resultsTable"></div>

</body>

</html>