<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<body class="container">

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

<!--Creates a cookie that persists across all pages. Cookie is null if user is logged out-->
<!--Use: window.location.href = ""; to set where a successful login redirects a user to-->
<!--View all of this in Chrome: Inspect Element -> Application -> Storage -> Cookies -> http://localhost:8080 -->    
<script th:inline="javascript">
  document.cookie = "userId=[[${userId}]]";
  const userId = getCookie("userId");
  function getCookie(name) {
    const value = "; " + document.cookie;
    const parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }

    if (userId !== 'null' && userId !== '') {
    window.location.href = "/movies/search";
  }
</script>    
    
</body>
</html>
