<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>
<script type="text/javascript" th:src="@{/javascript/profile.js}"></script>

<body class="container body-content profile">

<h1 id="profileAndUsernameText">
    <span th:text="'Profile Page'"></span>
    <br>
    <span th:text="${profileUsername}"></span>
</h1>

<div id="profilePictureDiv" th:if="${profilePicture != null}">
    <img id="profilePicture" th:src="@{'/profile-pictures/' + ${profilePicture}}"/>
    <br><br>
</div>

<swiper-container class="mySwiper" effect="cards" grab-cursor="true">
    <swiper-slide class="movieCard">
        <span th:each="collection, stat : ${movieCollections}" th:if="${stat.index < 3}">
            <li><a class="collectionNameLi" th:href="@{'/collections/view-movie-collection/' + ${collection.id}}" th:text="${collection.name}"></a></li><br>
        </span>
    </swiper-slide>
    <swiper-slide class="movieCard" th:if="${movieCollections.size > 3}">
        <span th:each="collection, stat : ${movieCollections}" th:if="${stat.index >= 3 and stat.index < 6}">
            <li><a class="collectionNameLi" th:text="${collection.name}"></a></li><br>
        </span>
    </swiper-slide>
</swiper-container>

<h2 id="settingsClickable" th:if="${isSelf}">▶ Settings</h2>

<div id="settings" th:if="${isSelf}" style="display:none;">
    <hr>
    <h3>Upload Profile Picture:</h3>
    <form method="post" th:action="@{'/profile/' + ${profileUsername} + '/upload-profile-picture'}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" id="chooseFileButton">
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
    </form>
    <br>
    <h3>Screen Mode:</h3>
    <form th:action="@{/update-theme}" method="post">
        <select name="theme">
            <option>Change:</option>
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
            <option value="Watermelon">Watermelon</option>
        </select>
        <button type="submit">Submit</button>
        <hr>
    </form>
</div>

</body>

</html>