<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>Profile Page</h1>

<div th:if="${profilePicture != null}">
    <img style="max-height: 400px; max-width: 400px" th:src="@{'/profile-pictures/' + ${profilePicture}}"/>
</div>

<th:block th:if="${isSelf}">
    <form method="post" th:action="@{/profile/{username}/upload-profile-picture}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
    </form>
</th:block>

<th:block th:if="${isSelf}">
    <h3>Screen Mode:</h3>
    <form th:action="@{/update-theme}" method="post">
        <select name="theme">
            <option>Change:</option>
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
            <option value="Watermelon">Watermelon</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</th:block>

</body>

</html>