<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<div th:replace="fragments :: page-header"></div>

    <body class="container body-content">


    <h1 th:text="${mainTitle}"></h1>

    <form th:action="@{/search-collections/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                    type="radio"
                    name="searchType"
                    th:id="${column.key}"
                    th:value="${column.key}"
                    th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />



    <table id="movieCollectionTable", class="collection-listing">

        <span id="movieFilterBlock">
            <input type="text" id="movieInput" onkeyup="movieCollectionFilter()" placeholder="Filter Movie Collections By.." title="Enter Filter Term">
            <input type="radio" id="keyword" name="movieFilter" value="keyword">
            <label for="keyword">Keyword</label>
            <input type="radio" id="director" name="movieFilter" value="director">
            <label for="director">Director</label>
            <input type="radio" id="genre" name="movieFilter" value="genre">
            <label for="genre">Genre</label>
            <input type="radio" id="collector" name="movieFilter" value="collector">
            <label for="collector">Collector</label>
        </span>

        <span id="movieColumnBlock">
            <th id="movieCollectionColumn", style="display:">Movie Collections: </th>
            <th id="movieColDirectorColumn", style="display:none">Director: ></th>
            <th id="movieColGenreColumn", style="display:none">Genre: ></th>
            <th id="movieColGenre2Column", style="display:none">Genre: ></th>
            <th id="movieColGenre3Column", style="display:none">Genre: ></th>
            <th id="movieColCollectorColumn", style="display:none">Collector: ></th>
        </span>


        <tr th:each="movieCollection : ${movieCollections}">
            <td>
                <p>
                    <a th:href="@{'/collections/view-movie-collection/' + ${movieCollection.id}}" th:text="'Movie Collection Id: ' + ${movieCollection.id}"></a>
                </p>

                <p th:text="${movieCollection.name}"></p>

                <i>
                <p th:text="${movieCollection.description}"></p>
                </i>

                <br>

<!--                <p> Movies: </p>-->

                <ul th:each="movie : ${movieCollection.movies}">
                    <li>
                        <a th:href="@{'/movies/details/' + ${movie.title}}" th:text="${movie.title} + ' -  Directed by: ' + ${movie.director} + ', ' + ${movie.year}"></a>
                    </li>
                </ul>

                <br>

                <p>
                <a th:href="@{'/collector/{collector}(collector=${collector.id})'}" th:text="${'Created by: ' + movieCollection.getUser().getScreenName()}"></a>
                </p>

            </td>

            <td id="movieColDirectors", style="display:none">Directors in Collection:>
                <ul th:each="movie : ${movieCollection.movies}">

                    <li id="directorFilterString", style="display:none"
                        th:text="${movie.director}">
                    </li>
                </ul>
            </td>

            <td id="movieColGenre", style="display:none">Genres in Collection:>
                <ul th:each="movie : ${movieCollection.movies}">

                    <li id="genreFilterString", style="display:none"
                        th:text="${movie.genre}">
                    </li>
                </ul>
            </td>

            <td id="movieColGenre2", style="display:none">Genre2s in Collection:>
                <ul th:each="movie : ${movieCollection.movies}">

                    <li id="genre2FilterString", style="display:none"
                        th:text="${movie.genre2}">
                    </li>
                </ul>
            </td>


            <td id="movieColGenre3", style="display:none">Genre3s in Collection:>
                <ul th:each="movie : ${movieCollection.movies}">

                    <li id="genre3FilterString", style="display:none"
                        th:text="${movie.genre3}">
                    </li>
                </ul>
            </td>

            <td id="movieColCollector", style="display:none">Collector in Collection:>
                <ul th:each="movie : ${movieCollection.movies}">

                    <li id="movieCollectorFilterString", style="display:none"
                        th:text="${movieCollection.getUser().getScreenName}">
                    </li>
                </ul>
            </td>

        </tr>
    </table>




    <script>

<!--    function movieCollectionFilter() {-->

<!--    // Retrieves the selected radio button-->

<!--        let choice = "keyword"-->
<!--        let choiceList = document.getElementsByName('movieFilter');-->
<!--        for(i = 0; i < choiceList.length; i++){-->
<!--            if(choiceList[i].checked)-->
<!--                choice = choiceList[i].value;-->
<!--        }-->

<!--        let input = document.getElementById("movieInput");-->
<!--        let table = document.getElementById("movieCollectionTable");-->
<!--        let row = table.getElementsByTagName("tr");-->


<!--        for (let i = 0; i < row.length; i++) {-->
<!--            let tableData = row[i].getElementsByTagName("td")[0];-->
<!--            let directorData = row[i].getElementsByTagName("td")[1];-->
<!--            let genreData = row[i].getElementsByTagName("td")[2];-->
<!--            let genre2Data = row[i].getElementsByTagName("td")[3];-->
<!--            let genre3Data = row[i].getElementsByTagName("td")[4];-->

<!--            if (tableData) {-->
<!--                let txtValue = tableData.textContent || tableData.innerText;-->
<!--                let directorTxtValue = directorData.textContent || tableData.innerText;-->
<!--                let genreTxtValue = genreData.textContent || tableData.innerText;-->
<!--                let genre2TxtValue = genre2Data.textContent || tableData.innerText;-->
<!--                let genre3TxtValue = genre3Data.textContent || tableData.innerText;-->


<!--                if(choice == "keyword" || choice == ""){-->
<!--                    if (txtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {-->
<!--                        row[i].style.display = "";-->
<!--                    } else {-->
<!--                        row[i].style.display = "none";-->
<!--                    }-->
<!--                } else if (choice == "director"){-->
<!--                    if (directorTxtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {-->
<!--                        row[i].style.display = "";-->
<!--                    } else {-->
<!--                        row[i].style.display = "none";-->
<!--                    }-->
<!--                } else if (choice == "genre"){-->
<!--                    if (-->
<!--                        genreTxtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1 || -->
<!--                        genre2TxtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1 || -->
<!--                        genre3TxtValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1-->
<!--                    ){-->
<!--                        row[i].style.display = "";-->
<!--                    } else {-->
<!--                        row[i].style.display = "none";-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->

//This is the refactored version of the function above that allows for us to add new filters as needed by adding a row to the map

        function movieCollectionFilter() {

            // Retrieves the selected radio button

            let choice = "keyword"
            let choiceList = document.getElementsByName('movieFilter');
            for(i = 0; i < choiceList.length; i++){
                if(choiceList[i].checked)
                    choice = choiceList[i].value;
            }

            let input = document.getElementById("movieInput");
            let table = document.getElementById("movieCollectionTable");
            let row = table.getElementsByTagName("tr");

//Creates a map of possible columns tied to filter choices
            const movieFilterDataByValueMap = new Map([
                ['keyword', [0]],
                ['director', [1]],
                ['genre', [2, 3, 4]],
                ['collector', [5]]
            ]);


//for each row (beginning after the table header) we check the columns that match the chosen filter contains the data that our user has input

            for (let i = 1; i < row.length; i++) {
                let columnsChosen = movieFilterDataByValueMap.get(choice)
                let columnHasValue = false;
                for (let j = 0; j < columnsChosen.length; j++){
                    let tableData = row[i].getElementsByTagName("td")[columnsChosen[j]];
                    let textValue = tableData.textContent || tableData.innerText;
                    if (textValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
                        columnHasValue = true;
                    }
                }
                if (columnHasValue == true) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none";
                }

            }
        }

    </script>

    <hr id="movieDivider" />


    <table id="bookCollectionTable",  class="collection-listing">

        <span id="bookFilterBlock">
            <input type="text" id="bookInput" onkeyup="bookCollectionFilter()" placeholder="Filter Book Collections By.." title="Enter Filter Term">
            <input type="radio" id="book-keyword" name="bookFilter" value="keyword">
            <label for="keyword">Keyword</label>
            <input type="radio" id="author" name="bookFilter" value="author">
            <label for="author">Author</label>
            <input type="radio" id="book-genre" name="bookFilter" value="genre">
            <label for="genre">Genre</label>
            <input type="radio" id="book-collector" name="bookFilter" value="collector">
            <label for="collector">Collector</label>
        </span>

        <span id="bookColumnBlock">
            <th id="bookCollectionColumn", style="display:">Book Collections: </th>
            <th id="bookColAuthorColumn", style="display:none">Author: ></th>
            <th id="bookColGenreColumn", style="display:none">Genre: ></th>
        </span>



        <tr th:each="bookCollection : ${bookCollections}">
            <td id="bookDataFilter">
                <p>
                    <a th:href="@{'/collections/view-book-collection/' + ${bookCollection.id}}" th:text="'Book Collection Id: ' + ${bookCollection.id}"></a>
                </p>

                <p th:text="${bookCollection.name}"></p>

                <i>
                    <p th:text="${bookCollection.description}"></p>
                </i>
                <br>

                <!--                <p>Books:</p>-->

                <ul th:each="book : ${bookCollection.books}">
                    <li>
                        <a th:href="@{'/book/view/' + ${book.id}}" th:text="${book.title} + ' -  Author: ' + ${book.author} + ', ' + ${book.year}"></a>
                    </li>

                </ul>
                <br>
                <p>
                    <a th:href="@{'/books/details/'}" th:text="${'Created by: ' + bookCollection.getUser().getScreenName()}"></a>
                </p>
            </td>

            <td id="bookColDirectors", style="display:none">Authors in Collection:>
                <ul th:each="book : ${bookCollection.books}">

                    <li id="authorFilterString", style="display:none"
                        th:text="${book.author}">
                    </li>
                </ul>
            </td>

            <td id="bookColGenre", style="display:none">Genres in Collection:>
                <ul th:each="book : ${bookCollection.books}">
                    <li id="bookFilterString", style="display:none"
                        th:text="${book.genre}">
                    </li>
                </ul>
            </td>
            <td id="bookColCollector", style="display:none">Collector in Collection:>
                <ul th:each="book : ${bookCollection.books}">

                    <li id="bookCollectorFilterString", style="display:none"
                        th:text="${bookCollection.getUser().getScreenName}">
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <script>
<!--   function bookCollectionFilter() {-->

<!--        let choice = "keyword"-->
<!--        let choiceList = document.getElementsByName('bookFilter');-->
<!--        for(i = 0; i < choiceList.length; i++){-->
<!--            if(choiceList[i].checked)-->
<!--                choice = choiceList[i].value;-->
<!--        }-->

<!--        let input = document.getElementById("bookInput");-->
<!--        let table = document.getElementById("bookCollectionTable");-->
<!--        let row = table.getElementsByTagName("tr");-->


<!--    const bookFilterMap = new Map([-->
<!--        ['author', "WRITTEN BY:" + input.value.toUpperCase()],-->
<!--        ['genre', "GENRE:" + input.value.toUpperCase()],-->
<!--        ['keyword', input.value.toUpperCase()]-->
<!--    ]);-->



<!--    function applyBookChoice(filter){-->
<!--       return bookFilterMap.get(filter);-->
<!--       }-->

<!--        for (let i = 0; i < row.length; i++) {-->
<!--            let tableData = row[i].getElementsByTagName("td")[0];-->
<!--            if ( tableData) {-->
<!--            console.log(tableData)-->
<!--                let txtValue = tableData.textContent || tableData.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(applyBookChoice(choice)) > -1) {-->
<!--                    row[i].style.display = "";-->
<!--                } else {-->
<!--                    row[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->

function bookCollectionFilter() {

            // Retrieves the selected radio button

            let choice = "keyword"
            let choiceList = document.getElementsByName('bookFilter');
            for(i = 0; i < choiceList.length; i++){
                if(choiceList[i].checked)
                    choice = choiceList[i].value;
            }

            let input = document.getElementById("bookInput");
            let table = document.getElementById("bookCollectionTable");
            let row = table.getElementsByTagName("tr");

//Creates a map of possible columns corresponding to the filter choices

            const bookFilterDataByValueMap = new Map([
                ['keyword', [0]],
                ['author', [1]],
                ['genre', [2]]
            ]);


//for each row (beginning after the table header at row [0]) we check if the selected column(s) contains the search term data that our user has input

            for (let i = 1; i < row.length; i++) {
                let columnsChosen = bookFilterDataByValueMap.get(choice)
                let columnHasValue = false;
                for (let j = 0; j < columnsChosen.length; j++){
                    let tableData = row[i].getElementsByTagName("td")[columnsChosen[j]];
                    let textValue = tableData.textContent || tableData.innerText;
                    if (textValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
                        columnHasValue = true;
                    }
                }
                if (columnHasValue == true) {
                    row[i].style.display = "";
                } else {
                    row[i].style.display = "none";
                }

            }
        }

    </script>

    <hr id="bookDivider" />



    <table id="gameCollectionTable",  class="collection-listing">

        <span id="gameFilterBlock">
            <input type="text" id="gameInput" onkeyup="gameCollectionFilter()" placeholder="Filter Game Collections By.." title="Enter Filter Term">
            <input type="radio" id="game-keyword" name="gameFilter" value="keyword">
            <label for="keyword">Keyword</label>
            <input type="radio" id="creator" name="gameFilter" value="creator">
            <label for="creator">Creator</label>
            <input type="radio" id="game-genre" name="gameFilter" value="genre">
            <label for="genre">Genre</label>
            <input type="radio" id="game-collector" name="gameFilter" value="collector">
            <label for="collector">Collector</label>
        </span>

        <span id="gameColumnBlock">
            <th id="gameCollectionColumn", style="display:">Game Collections: </th>
            <th id="gameColCreatorColumn", style="display:none">Creator: ></th>
            <th id="gameColGenreColumn", style="display:none">Genre: ></th>
        </span>



        <tr th:each="gameCollection : ${gameCollections}">
            <td id="gameDataFilter">
                <p>
                    <a th:href="@{'/collections/view-game-collection/' + ${gameCollection.id}}" th:text="'Game Collection Id: ' + ${gameCollection.id}"></a>
                </p>

                <p th:text="${gameCollection.name}"></p>

                <i>
                    <p th:text="${gameCollection.description}"></p>
                </i>
                <br>

                <ul th:each="game : ${gameCollection.games}">
                    <li>
                        <a th:href="@{'/game/view/' + ${game.id}}" th:text="${game.title}"></a>
                    </li>
                </ul>
                <br>
                <p>
                    <a th:href="@{'/games/details/'}" th:text="${'Created by: ' + gameCollection.getUser().getScreenName()}"></a>
                </p>
            </td>

            <td id="gameColCreators", style="display:none">Creators in Collection:>
                <ul th:each="game : ${gameCollection.games}">
                    <li id="creatorFilterString", style="display:none"
                        th:text="${game.creator}">
                    </li>
                </ul>
            </td>

            <td id="gameColGenres", style="display:none">Genres in Collection:>
                <ul th:each="game : ${gameCollection.games}">
                    <li id="gameGenreFilterString", style="display:none"
                        th:text="${game.genre}">
                    </li>
                </ul>
            </td>
        </tr>
    </table>


<script>

function gameCollectionFilter() {
    // Retrieves the selected radio button

    let choice = "keyword"
    let choiceList = document.getElementsByName('gameFilter');
    for(i = 0; i < choiceList.length; i++){
        if(choiceList[i].checked)
            choice = choiceList[i].value;
    }

    let input = document.getElementById("gameInput");
    let table = document.getElementById("gameCollectionTable");
    let row = table.getElementsByTagName("tr");

    //Creates a map of possible columns corresponding to the filter choices

    const gameFilterDataByValueMap = new Map([
        ['keyword', [0]],
        ['creator', [1]],
        ['genre', [2]]
    ]);

    //for each row (beginning after the table header at row [0]) we check if the selected column(s) contains the search term data that our user has input

    for (let i = 1; i < row.length; i++) {
        let columnsChosen = gameFilterDataByValueMap.get(choice);
        let columnHasValue = false;
        for (let j = 0; j < columnsChosen.length; j++){
            let tableData = row[i].getElementsByTagName("td")[columnsChosen[j]];
            let textValue = tableData.textContent || tableData.innerText;
            if (textValue.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
                columnHasValue = true;
            }
        }
        if (columnHasValue == true) {
            row[i].style.display = "";
        } else {
            row[i].style.display = "none";
        }

    }
}

</script>




<script>

function toggleMovieTableDisplay(){
let movieTable = document.getElementById("movieCollectionTable");
    if (movieTable.rows.length < 2) {
        document.getElementById("movieCollectionTable").style.display = "none";
        document.getElementById("movieFilterBlock").style.display = "none";
        document.getElementById("movieColumnBlock").style.display = "none";
        document.getElementById("movieDivider").style.display = "none";
    }
}

function toggleBookTableDisplay(){
let bookTable = document.getElementById("bookCollectionTable");
    if (bookTable.rows.length < 2) {
        document.getElementById("bookCollectionTable").style.display = "none";
        document.getElementById("bookFilterBlock").style.display = "none";
        document.getElementById("bookDivider").style.display = "none";
    }
}

function toggleGameTableDisplay(){
let gameTable = document.getElementById("gameCollectionTable");
    if (gameTable.rows.length < 2) {
        document.getElementById("gameCollectionTable").style.display = "none";
        document.getElementById("gameFilterBlock").style.display = "none";
    }
}

toggleMovieTableDisplay();
toggleBookTableDisplay();
toggleGameTableDisplay();

</script>


</body>
</html>
