<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<title>Games - Search</title>
<head th:replace="~{fragments :: head}"></head>
<div th:replace="fragments :: page-header"></div>
<script>window.onload = screenMode()</script>
<script type="text/javascript" th:src="@{/javascript/games-search.js}"></script>

<body class="container body-content games-search">

    <div th:replace="fragments :: games-navbar"></div>

    <img id="headerPhoto" src="http://localhost:8080/images/boardGames1.jpg" alt="game">
    <h1>Game Search</h1>

    <input id="userSearchTerm" onkeyup="if (event.keyCode === 13) { searchTitle(userSearchTerm); }">
    <button value="userSearchTerm" onclick="searchTitle(userSearchTerm)">Search</button><br><br>

    <button id="showFiltersButton" class="btn btn-primary" style="display:none" onclick="toggleShowHideFilters(); generateCreatorCheckboxHTML(); generateGenreCheckboxHTML(); toggleCheckUncheckCreatorBoxes(); toggleCheckUncheckGenreBoxes">Show Filters</button>

    <br>

    <div id="filtersSection" style="display:none;">
        <form id="yearFilters" >
            <h3>Year Range:</h3>
            <input type="number" id="userYearMin">
            <input type="number" id="userYearMax">
        </form>
        <button id="filterYearsButton" class="btn btn-primary btn-sm" onclick="filterYears(userYearMin, userYearMax); generateCreatorCheckboxHTML(); generateGenreCheckboxHTML(); ">Filter Years</button> <br><hr>

        <form id="creatorFilters">
            <h3>Creator:</h3>
            <div id="creatorCheckboxes"></div>
        </form>
        <button id="filterCreatorsButton" class="btn btn-primary btn-sm" onclick="showOrHideRowsBasedOnCreatorCheckboxFilters(); generateGenreCheckboxHTML()">Filter Creators</button>
        <button id="selectAllCreatorsButton" class="btn btn-sm" onclick="toggleCheckUncheckCreatorBoxes()">Select All</button>
        <button id="unselectAllCreatorsButton" class="btn btn-sm" onclick="toggleCheckUncheckCreatorBoxes()">Unselect All</button> <br><hr>

        <form id="genreFilters">
            <h3>Genre:</h3>
            <div id="genreCheckboxes"></div>
        </form>
        <button id="filterGenresButton" class="btn btn-primary btn-sm" onclick="showOrHideRowsBasedOnGenreCheckboxFilters(); generateCreatorCheckboxHTML()">Filter Genres</button>
        <button id="selectAllGenresButton" class="btn btn-sm" onclick="toggleCheckUncheckGenreBoxes()">Select All</button>
        <button id="unselectAllGenresButton" class="btn btn-sm" onclick="toggleCheckUncheckGenreBoxes()">Unselect All</button> <br> <hr>
    </div>

    <form method="post" id="databaseInformation" hidden>
        <input th:field="${game.title}" id="titleSubmission" readonly>
        <input th:field="${game.creator}" id="creatorSubmission" readonly>
        <input th:field="${game.dateAdded}" id="dateSubmission" readonly>
        <input th:field="${game.genre}" id="genreSubmission" readonly>
        <input th:field="${game.minPlayers}" id="minPlayersSubmission" readonly>
        <input th:field="${game.maxPlayers}" id="maxPlayersSubmission" readonly>
        <input th:field="${game.description}" id="synopsisSubmission" readonly>
        <input th:field="${game.imageURL}" id="imageURLSubmission" readonly>
        <input type="text" name="collectionId" id="collectionId" readonly>
    </form>

    <div id="resultsTable"></div>

    <p th:text="${collectionIdsAndGames}" id="collectionIdsAndGames" hidden></p>

</body>
</html>